<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blog_general>
            <general>
                <display_title>FAQ Table</display_title>
                <display_number_faq>5</display_number_faq>
            </general>
        </blog_general>
        <blog_store_view>
            <general>
                <storeview>Default Store View</storeview>
            </general>
        </blog_store_view>
    </default>
</config>
